<h1>Places</h1>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place)%></li>
  <% end %>
</ul>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


<p>
  <%= link_to "Add a new place", new_place_path %>
</p>
